//mixins
@mixin setRobotoFont($size, $weight, $transform:none){
  font-size: $size;
  font-family: $weight;
  text-transform: $transform;
}
@mixin separator($color: black, $width: 5%){
  border: thin solid  $color;
  width: $width;
}

@mixin background-after(){
  content: "";
  background: linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
  position: absolute; 
  opacity: 0.85;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

//variables

$blue: rgb(0, 224, 208);
$white: rgb(255, 255, 255);
$grey: rgb(65, 61, 75);
$grey75: rgba(65, 61, 75, 0.75);
$grey3: rgba(65, 61, 75, 0.3);
$darkGrey7: rgba(51, 51, 51, 0.7);

//classes

  .container-fluid {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 70%;
  }
  
  .mybtn {
    @include setRobotoFont(14px, 'bold', uppercase);
    border: thin solid rgb(0, 224, 208);
    color: rgb(0, 224, 208);
    box-shadow: none;
  }
  .mybtn:hover {
    color: rgb(255, 255, 255);
    background: rgb(0, 224, 208);
    box-shadow: none;
  }

  .list {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .logo {
    &-title {
      @include setRobotoFont(30px, 'thin');
      color: $blue;
    }
  }

  .title-2 {
    @include setRobotoFont(22px, 'PlayfairDisplay', uppercase);
  }

  .title-2__p {
    @include setRobotoFont(14px, 'thin');
  }

  .title-3 {
    text-align: center;
    @include setRobotoFont(14px, 'bold', uppercase);
    margin-top: 25px;
  }

  .title-3__p {
    text-align: center;
    @include setRobotoFont(14px, 'regular');
    margin-bottom: 25px;
  }

  .responsive {
    width: 100%;
    height: auto;
  }

