.contact {
  padding: 55px 0;
  .title-2 {
    margin-bottom: 40px;
  }
  .responsive {
    max-width: 450px;
    max-height: 430px;
  }
  .form-control {
    height: 3rem;
    padding-left: 2rem;
    margin-bottom: 5%;
  }
  .textarea {
    height: 12rem;
  }
  .mybtn {
    padding: 1% 2%;
  }
}