.works {
  .mrg {
    margin: 5% 0 3%;
  }
  &-header {
    p {
      font-size: 14px;
      font-family: "RobotoThin";
    }
  }
  &-list {
    li {
      padding: 0;
      img {
        width: 100%;
      }
    }
  }
}

.OUR_WORKS {
  
  text-align: left;
  position: absolute;
  left: 328.938px;
  top: 3152.8px;
  z-index: 216;
}
.See_All_Project_in_dribbble {
  
  text-align: right;
  position: absolute;
  left: 1077.547px;
  top: 3156.623px;
  z-index: 214;
}
.Items {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 5378px;
  z-index: 212;
}
.Bottom {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 5378px;
  z-index: 211;
}
._6 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 5378px;
  z-index: 210;
}
._5 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 5378px;
  z-index: 207;
}
._4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 5378px;
  z-index: 204;
}
._3 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 5378px;
  z-index: 201;
}
.PUT_YOUR_IMAGE_HERE {
  background-color: rgb(138, 138, 138);
  position: absolute;
  left: 534px;
  top: 3445px;
  width: 267px;
  height: 200px;
  z-index: 200;
}
._2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 5378px;
  z-index: 198;
}
._1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 5378px;
  z-index: 195;
}
.Top {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 5378px;
  z-index: 191;
}
._6 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 5378px;
  z-index: 190;
}
._5 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 5378px;
  z-index: 187;
}
._4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 5378px;
  z-index: 184;
}
._3 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 5378px;
  z-index: 181;
}
._2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 5378px;
  z-index: 178;
}
._1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 5378px;
  z-index: 175;
}
.Bottom {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 5378px;
  z-index: 170;
}
.Button {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 5378px;
  z-index: 169;
}
.LOAD_MORE {
  font-size: 16px;
  font-family: "HammersmithOne";
  color: rgb(0, 224, 208);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 567.905px;
  top: 3727.546px;
  width: 85px;
  height: 10px;
  z-index: 168;
}
.Outline {
  border-width: 1px;
  border-color: rgb(0, 224, 208);
  border-style: solid;
  border-radius: 2px;
  position: absolute;
  left: 730px;
  top: 3715px;
  width: 138px;
  height: 38px;
  z-index: 167;
}
