<footer id="footer">
  <div class="footer-background">
    <div class="footer-body">
      <div class="container">
        <ul class="row list justify-content-between text-left">
          <li class="col-lg-4 p-0 col-md-4 col-sm-12">
            <h2>
              <div class="logo">
                <img src="../img/logo.png" alt="This is logo">
                <span class="logo-title">tajam</span>
              </div>
            </h2>
            <p class="title-2__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
              ipsum blanditiis, fuga culpa suscipit consectetur officia ducimus
              voluptatibus reiciendis.
            </p>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-12">
            <h3 class="title-3">
              Our studio
            </h3>
            <ul class="list text-left">
              <li id="address" class="title-2__p">
                Ruko cucruk, Jl. Radio luar dalem jos<br/>
                No.12-13,Kalideres - Jakarta Barat<br/>
                11480 - Indonesia
              </li>
              <li id="phone" class="title-2__p">(+62) 43-654 654</li>
            </ul>
          </li>
          <li class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="title-3">Stay in touch</h3>
            <form class='row'>
              <div class="col-9">
                <input type="text" class="form-control w-100 outline-0 bg-transparent rounded-0" placeholder="Subscribe our news etter">
              </div>
              <a href="https://google.com" class="col-2 btn ml-1 p-0 rounded-0" role="button"></a>
            </form>
            <img class="responsive mt-4" src="../img/SocialMedia.png" alt="Social Media">
          </li>
        </ul>
        <ul class="list title-3__p help-info row justify-content-between">
          <li class="menu row justify-content-between col-lg-4 bol-md-4 col-sm-6">
            <p>help</p>
            <p>terms&condition</p>
            <p>privasy</p>
          </li>
          <li class="col-lg-4 col-md-4 col-sm-6">
            <p class="text-right quote">Copying &#169; 2015 - Tajem Creative</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>