<section class="about" id="about">
  <div class="container">
    <div class="about-content row">
      <div class="about-content__logo col-lg-4 col-md-4 col-sm-12">
        <img class="responsive" src="../../img/aboutLogo.png" alt="This is logo">
      </div>
      <div class="about-content__info col-lg-8 col-md-8 col-sm-12">
        <h2 class="title-2">Our story</h2>
        <p class="title-2__p">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Amet repellendus quo, ex unde fugiat vero illum magni cum
          accusantium ipsam illo nesciunt! Accusamus error deserunt nihil.
          Quibusdam natus aperiam sapiente! Accusamus error deserunt nihil.
          Quibusdam natus aperiam sapiente!
        </p>
        <p class="title-2__p">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Amet repellendus quo, ex unde fugiat vero illum magni cum
          accusantium ipsam illo nesciunt! Accusamus error deserunt nihil.
          Accusamus error deserunt nihil.Quibusdam natus aperiam sapiente!
        </p>
        <p class="title-2 mt-4">
          <a href="https://google.com" class="btn btn-outline mybtn" role="button">Learn more</a>
        </p>
      </div>
    </div>
  </div>
  <div class="about-video">
    <div class="about-video__background">
      <div id="play" class="play-button">
        <img src="../../img/play.png" alt="Play">
        <p>Watch our story</p>
      </div>
    </div>
    <div id="modal-window" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" allowscriptaccess="always" frameborder="0" allow="autoplay"></iframe>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>