<section id="contact">
  <div class="container contact">
    <div class="row justify-content-center contact-body">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h2 class="title-2">Give us a good news</h2>
        <form>
          <div class="form-group">
            <input type="email" class="form-control rounded-0" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control rounded-0" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="email" class="form-control rounded-0" placeholder="Subject">
          </div>
          <div class="form-group">
            <textarea class="form-control textarea rounded-0" rows="5" placeholder="Your message"></textarea>
          </div>
          <p>
            <a href="https://google.com" class="btn btn-outline mybtn rounded-0" role="button">Submit</a>
          </p>
        </form>
      </div>
      <div class="clients col-lg-6 col-md-6 col-sm-12">
        <h2 class="title-2">Our happy clients</h2>
        <img class="responsive" src="../../img/clients.png" alt="Clients">
      </div>
    </div>
  </div>
</section>