<section class="expertise" id="expertise">
  <div class="container">
    <div class="expertise-body">
      <div class="expertise-body__title">
        <h2 class="title-2">Expertise</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit
        </p>
        <hr class="separator-line">
      </div>
      <ul class="row expertise-body__content list">
        <li class="col-lg-4 col-md-6 col-sm-6">
          <img src="../../img/computer.png" alt="computer img">
          <h3 class="title-3">Web design & development</h3>
          <p class="title-3__p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis, eos eaque voluptate aut at
          </p>
        </li>
        <li class="col-lg-4 col-md-6 col-sm-6">
          <img src="../../img/brush.png" alt="brush img">
          <h3 class="title-3">Branding design</h3>
          <p class="title-3__p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis, eos eaque voluptate aut at
          </p>
        </li>
        <li class="col-lg-4 col-md-6 col-sm-6">
          <img src="../../img/mobile.png" alt="mobile img">
          <h3 class="title-3">Mobile app</h3>
          <p class="title-3__p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis
          </p>
        </li>
        <li class="col-lg-4 col-md-6 col-sm-6">
          <img src="../../img/diagram.png" alt="diagram img">
          <h3 class="title-3">Search engineoptimization</h3>
          <p class="title-3__p">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </li>
        <li class="col-lg-4 col-md-6 col-sm-6">
          <img src="../../img/tablet.png" alt="tablet img">
          <h3 class="title-3">Game development</h3>
          <p class="title-3__p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis, eos
          </p>
        </li>
        <li class="col-lg-4 col-md-6 col-sm-6">
          <img src="../../img/heart.png" alt="heart img">
          <h3 class="title-3">Made with love</h3>
          <p class="title-3__p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis, eos eaque voluptate aut at
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>