<section id="team">
  <div class="team">
    <div class="team-background">
      <div class="team-body">
        <div class="container">
          <div class="team-body__title ">
            <h2 class="title-2">meet our amazing team</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit
            </p>
            <hr class="separator-line">
          </div>
          <ul class="row team-body__content list">
            <li class="col-lg-3 col-md-6 com-sm-12">
              <img class="photo responsive" src="../../img/photo.png" alt="photo">
              <h3 class="title-3">semf ucuk</h3>
              <p class="title-3__p">ceo & foundator</p>
            </li>
            <li class="col-lg-3 col-md-6 com-sm-12">
              <img class="photo" src="../../img/photo.png" alt="photo">
              <h3 class="title-3">dick alan</h3>
              <p class="title-3__p">engineering</p>
            </li>
            <li class="col-lg-3 col-md-6 com-sm-12">
              <img class="photo" src="../../img/photo.png" alt="photo">
              <h3 class="title-3">jeng kol</h3>
              <p class="title-3__p">designer</p>
            </li>
            <li class="col-lg-3 col-md-6 com-sm-12">
              <img class="photo" src="../../img/photo.png" alt="photo">
              <h3 class="title-3">pet romak</h3>
              <p class="title-3__p">marketing</p>
            </li>
          </ul>
          <div class="message">
            <p class="message-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p>
              <a href="https://google.com" class="btn btn-outline mybtn" role="button">We are hiring</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>