<section class="tstmnl" id="tstmnl">
  <div class="tstmnl-background">
    <div class="tstmnl-body">
      <div class="container">
        <div class="content">
          <h2>&#8220;</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Eaque, minima nihil debitis cum, architecto fuga ullam inventore
            deserunt, sint delectus doloremque vitae incidunt mollitia! Nobis
            modi unde vitae. Incidunt, dolores. Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Minus autem fugiat voluptates sunt placeat suscipit inventore
            rerum impedit nobis corporis, tenetur, ut ducimus nisi excepturi debitis numquam
            obcaecati nostrum nam.
          </p>
          <div class="author">
              <h3>jane galadriel</h3>
              <p>ceo tengkurep</p>
          </div>
        </div>
        <div class="mySlider">
          <img class="left-arrow" src="../../img/back.png">
          <img class="item" src="../../img/1.png" alt="img">
          <img class="item" src="../../img/2.png" alt="img">
          <img class="item active" src="../../img/3.png" alt="img">
          <img class="item" src="../../img/4.png" alt="img">
          <img class="item" src="../../img/5.png" alt="img">
          <img class="right-arrow" src="../../img/forward.png">
        </div>
      </div>
    </div>
  </div>
</section>