<section id="works">
  <div class="works">
    <div class="container works-header">
      <div class="row mrg">
        <h3 class="col title-2">Our works</h3>
        <p class="col text-right">
          <a href="https://google.com" class="title-2__p btn btn-outline" role="button">
            See All Project in dribbble
            <img src="../../img/right.png" alt="arow right">
          </a>
        </p>
      </div>
    </div>
    <ul class=" row works-list list">
      <li class="col-lg-2 col-md-3 col-sm-4"><img src="../../img/works1.png" alt="our work"></li>
      <li class="col-lg-2 col-md-3 col-sm-4"><img src="../../img/works2.png" alt="our work"></li>
      <li class="col-lg-2 col-md-3 col-sm-4"><img src="../../img/works3.png" alt="our work"></li>
      <li class="col-lg-2 col-md-3 col-sm-4"><img src="../../img/works4.png" alt="our work"></li>
      <li class="col-lg-2 col-md-3 col-sm-4"><img src="../../img/works1.png" alt="our work"></li>
      <li class="col-lg-2 col-md-3 col-sm-4"><img src="../../img/works2.png" alt="our work"></li>
      <li class="col-lg-2 col-md-3 col-sm-4"><img src="../../img/works3.png" alt="our work"></li>
      <li class="col-lg-2 col-md-3 col-sm-4"><img src="../../img/works4.png" alt="our work"></li>
      <li class="col-lg-2 col-md-3 col-sm-4"><img src="../../img/works1.png" alt="our work"></li>
      <li class="col-lg-2 col-md-3 col-sm-4"><img src="../../img/works2.png" alt="our work"></li>
      <li class="col-lg-2 col-md-3 col-sm-4"><img src="../../img/works3.png" alt="our work"></li>
      <li class="col-lg-2 col-md-3 col-sm-4"><img src="../../img/works4.png" alt="our work"></li>
    </ul>
    <div class="row mrg">
      <p class="col-12 text-center">
        <a href="https://google.com" class="btn btn-outline mybtn" role="button">Load more</a>
      </p>
    </div>
  </div>
</section>