@font-face {
  font-family: "thin";  
  src: url("../fonts/Roboto-Thin.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}
   
@font-face{
  font-family: "regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
}

@font-face{
  font-family: "bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
}

@font-face{
  font-family: "Hammersmith";
  src: url("../fonts/HammersmithOne-Regular.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
}

@font-face{
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
}
    