@media (max-width: 1200px) {
  .logo {
    &-title {
      @include setRobotoFont(28px, 'thin');
    }
  }
  .title-2 {
    font-size: 20px;
  }
  .mybtn, .title-2__p, .title-3,.title-3__p {
    font-size: 12px;
  }
  .header-body {
    .carousel-indicators {
      display: none;
    }
    .carousel {
      &-caption {
        &__title {
          font-size: 30px;
        }
        &__info {
          padding-bottom: 18px;
        }
      }
    }
  }
  .team {
    &-body {
      padding: 63px 0;
      &__title {
        padding-bottom: 45px;
      }  
    }
    .message {
      margin: 6% 0;
    }
  }
  .tstmnl{
    &-body {
      padding: 45px 0;
      .content {
        h2 {
          font-size: 85px;
        }
        p {
          margin-bottom: 45px;
        } 
      }
    }
  }  
  .contact {
    padding: 45px 0;
    .title-2 {
      margin-bottom: 35px;
    }
    .responsive {
      max-width: 330;
      max-height: 330px;
    }
    .form-control {
      height: 2rem;
      padding-left: 2rem;
      margin-bottom: 4%;
    }
    .textarea {
      height: 10rem;
    }
  }
  .footer {
    .form-control::placeholder {
      font-size: 12px;
    }
  }
}

@media (max-width: 992px){
  .logo {
    &-title {
      @include setRobotoFont(26px, 'thin');
    }
  }
  .title-2 {
   font-size: 18px;
  }
  .header-body {
    .navbar {
      width: 100%;
      top: 13px;
    }
    .carousel-indicators {
      display: none;
    }
    .carousel {
      &-caption {
        &__title {
          font-size: 28px;
        }
        &__info {
          padding-bottom: 16px;
        }
      }
    }
  }
  .about {
    &-content {
      &__info {
        margin: 4% 0;
      }
    }
    &-video {
      .play-button {
        height: 300px;
        img {
          width: 3rem;
          height: 3rem;
        }
        p {
          margin: 1rem;
        }
      }  
    }
    .modal {
      &-dialog {
        margin: 1% auto;
        max-width: 70%;
      }
      &-body {
        position: relative;
        padding: 0px;
      }
    }
  }
  .team {
    &-body {
      padding: 55px 0;
      &__title {
        padding-bottom: 40px;
      }
    }
  
    .message {
      margin: 7% 0;
      text-align: center;
      &-text {
        color: rgb(243, 243, 243);
      }
    }
  }
  .works {
    .mrg {
      margin: 4% 0 2%;
    }
  }
  .footer {
    .form-control::placeholder {
      font-size: 12px;
    }
  }
}

@media (max-width: 768px){
  .title-2 {
    font-size: 16px;
  }
  .mybtn, .title-2__p, .title-3,.title-3__p {
    font-size: 10px;
  }
  .header-body {
    .carousel {
      &-item {
        img {
          height: 300px;
        }
      }
      &-caption {
        top: 43%;
        &__title {
          font-size: 26px;
        }
        &__info {
          padding-bottom: 14px;
        }
      }
    }
  }
  .expertise-body {
    &__title {
      margin: 3% 0;
    }
    &__content {
      li {
        img {
          margin-top: 4%;
        }
        .title-3__p {
          padding-bottom: 5%;
        }
      }
    }
  }
  .about {
    &-content {
      &__logo {
        display: none;
      }
      &__info {
        margin: 4% 0;
      }
    }
    &-video {
      .play-button {
        height: 280px;
      }  
    }
    .modal {
      &-dialog {
        margin: 1% auto;
        max-width: 70%;
      }
      &-body {
        position: relative;
        padding: 0px;
      }
    }
  }
  .footer {
    .list {
      .info {
        display: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .logo {
    &-title {
      @include setRobotoFont(26px, 'thin');
    }
  }
  .title-2 {
    font-size: 14px;
  }
  .mybtn, .title-2__p, .title-3,.title-3__p {
    font-size: 10px;
  }
  .header-body { 
    .navbar {
      top: 0;
    }
    .carousel {
      &-caption {
        top: 43%;
        &__title {
          font-size: 24px;
        }
        &__info {
          padding-bottom: 12px;
        }
      }
    }
  }
  .about {
    &-video {
      .play-button {
        height: 200px;
      }  
    }
  }
  .contact {
    padding: 15px 20px;
    .mybtn {
      width: 100%;
      padding: 2%;
      font-size: 16px;
    }
    .clients {
      display: none;
    }
  }
  .footer {
    .form-control::placeholder {
      font-size: 10px;
    }
  }
}
